.layer-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 16rem;
  background-color: #ffffff;
  padding: 1rem;
  }
  
  .layer-menu h2 {
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .layer-menu h2 svg {
    margin-right: 0.5rem;
  }
  
  .layer-menu ul {
    list-style-type: none;
    padding: 0;
  }
  
  .layer-menu li {
    margin-bottom: 0.5rem;
  }
  
  .layer-menu label {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  
  .layer-menu input[type="checkbox"] {
    margin-right: 0.5rem;
  }

  .dropzone {
    border: 2px dashed #000000;
    border-radius: 0.5rem;
    padding: 2rem;
    text-align: center;
    cursor: pointer;
  }